.column {
  display: flex;
  flex-direction: column;
}
.input {
  border: none;
  background-color: #fdf3e3;
  padding: 10px;
}
.label {
  margin-bottom: 10px;
}
.error {
  color: red;
}
.formulaire {
  display: flex;
  flex-direction: column;
}
