.buttonClick{
    background-color: #FFD98F;
    border: none;
    padding:5px;
    cursor: pointer;
    
}

@media (max-width: 500px) {
    .buttonClick {
        padding: 10px;
        margin-top: 45px;
        margin-left: 35%;

    }
}