.section__cgv {
    padding: 10%;
}

.titrePrincipal__cgv {
    text-align: center;
    font-size: 3rem;
}

.titreSecond__cgv {
    text-align: center;
    color: #DE4615;
    font-weight: bold;
}

.titreTertiaire__cgv {
    margin: 35px 0 5px 0;
    font-size: 1.3rem;
}