.sectionCgv {
    padding: 10%;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

h2 {
    text-align: center;
    color: #DE4615;
    font-weight: bold;
}

h3 {
    margin: 35px 0 5px 0;
    font-size: 1.3rem;
}