.header {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}
.container {
  display: flex;
  align-items: center;
  z-index: 100;
}

.logo {
  display: block;
  width: 100%;
}

.navbar_burger {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  color: black;
  display: none;
}

.display_none {
  display: none;
}

.display_block {
  display: block;
}

.basket {
  width: 100%;
  margin-bottom: 2vw;
}

@media (max-width: 500px) {
  .navbar_links {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1.5rem;
    color: black;
    background: #fffcf7;

    font-size: 15px;
  }

  header {
    position: fixed;
    background: #fffcf7;
  }

  .navbar_burger {
    display: block;
  }

  .navbar_burger:hover {
    cursor: pointer;
  }
  .burger_bar,
  .burger_bar::before,
  .burger_bar::after {
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background-color: black;
    transition: all 0.5s ease-in-out;
  }
  .burger_bar::before,
  .burger_bar::after {
    content: "";
    position: absolute;
    left: 0px;
  }
  .burger_bar::before {
    transform: translateY(-12px);
  }

  .burger_bar::after {
    transform: translateY(12px);
  }
  .show_nav .burger_bar::before {
    transform: rotate(45deg);
  }
  .show_nav .burger_bar::after {
    transform: rotate(-45deg);
  }
  .show_nav .burger_bar {
    width: 0;
    background: transparent;
  }
  li {
    background: none !important;
  }
  .container {
    width: 95%;
  }
}

.padding_bottom {
  padding-bottom: 1rem;
}
